body {
  margin: 0;
  padding: 20px;
  max-width: 100vw;
  min-width: 320px;
  font-family: "TT Hoves", sans-serif;
  width: 100%;
}

#app {
  font-family: inherit;
  width: 100%;
  height: 603px;
  position: relative;
}

h1 {
  font-weight: 300;
  font-size: 64px;
  color: #bdbdbd;
  margin: 0 0 22px;
}

img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
  height: 100%;
}

input,
textarea {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400; 
  width: 370px;
  border: none;
  background-color: #f3f3f3;
  color: #8d8d8d;
  padding-left: 21px;
  letter-spacing: 0.02em;
}

input {
  height: 45px;
}

textarea {
  flex-grow: 1;
  padding-top: 14px;
  resize: none; 
  padding-bottom: 60px;
}

input:focus ~ .input-label,
input:not(:placeholder-shown) ~ .input-label {
  visibility: hidden;
}
