body {
  margin: 0;
  padding: 20px;
  max-width: 100vw;
  min-width: 320px;
  font-family: "TT Hoves", sans-serif;
  width: 100%;
}

#app {
  font-family: inherit;
  width: 100%;
  height: 603px;
  position: relative;
}

h1 {
  font-weight: 300;
  font-size: 64px;
  color: #bdbdbd;
  margin: 0 0 22px;
}

img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
}

input,
textarea {
  font-family: inherit;
  width: 370px;
  border: none;
  background-color: #f3f3f3;
  font-size: 14px;
  color: #8d8d8d;
  padding-left: 21px;
}

input {
  height: 46px;
}

textarea {
  height: 147px;
  padding-top: 14px;
}

input:focus ~ .input-label,
input:not(:placeholder-shown) ~ .input-label {
  visibility: hidden;
}
